{{!-- template for your homepage or root path/route --}}
<!DOCTYPE html>
<html>
    <head>
        <!-- charset which determines how browser renders the chars in our html -->
        <meta charset="utf-8">
        <!-- title tag: what is placed in the tab -->
        <title>Some Website</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>{{welcomeMessage}}</p>
        <p>You are in the {{pageTitle}}</p>
        <footer>
            <p>Copyright {{currentYear}}</p>
        </footer>
    </body>
</html>