<footer>
    {{!-- inject handlebars helper --}}
    <p>Created by Enrique Sanchez - Copyright {{getCurrentYear}}</p>
    {{!-- handlebars will first look for a helper, if none it will look 
    for piece of data with the getCurrentYear name for anything that is 
    inside of {{ }} --}}
<footer>